.title{
    text-align: center;
    font-family: Arial;
    font-size: 45px;
    color: darksalmon;
}

.content{
    text-align: center;
    font-family: Arial;

}
p{
    color: darksalmon;
}
#titleHR{
    border: 1px solid salmon;
    width: 70%;
    margin: 0 auto;
    
}
.RPSImg{

    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    text-align: center;
    cursor: pointer;
}

.button1, .button2, .button3{
    padding-left: 30px;
    padding-top: 50px;
    padding-right: 40px;
    display: inline-block;
    

}
.button1:hover, .button2:hover, .button3:hover{ 
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;


}
@keyframes shake{
    10%, 90% {
    transform: translate3d(-1px, 1px, 4px);
    }
    
    20%, 80% {
    transform: translate3d(2px, -2px, -1px);
    }

    30%, 50%, 70% {
    transform: translate3d(-4px, 4px, 2px);
    }

    40%, 60% {
    transform: translate3d(4px, -4px, -4px);
    }
}


.selected{
    transform: scale(1.2);
    border-color:darkblue;
    
}
.Rock,.Paper,.Scissors{
    max-height: 80px;
    max-width: auto;
    border: 0px;
    border-radius: 60px;
    cursor:pointer;
}

button{

    border-radius: 60px;
    background-color: lightblue;
    border: 6px solid lightblue;
    transition: all 0.5s
    
}

.displayMove{
    text-align: center;
    margin-top: 50px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}
.user{
    display: inline-block;
    position: relative;
    padding-right:70px;
    
}

.rotateRight{
    animation-name: spinRight;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
}


@keyframes spinRight {
    from {transform:rotate(0deg);}
    to {transform:rotate(90deg);}
}   

.rotateLeft{
    animation-name: spinLeft;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
}


@keyframes spinLeft {
    from {transform:rotate(0deg);}
    to {transform:rotate(-90deg);}
}   


.computer{
    display: inline-block;
    position: relative;
}

.opacityChange{
    opacity:1;
}

#userplaceholder{
    max-height: 150px;
    max-width: auto;
    border: 30px;
    border-radius: 100px;
    position:relative;
    transition:opacity 0.5s linear;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
}
#userdisprock{
    max-height: 150px;
    max-width: auto;
    border: 30px;
    border-radius: 100px;
    position:absolute;
    opacity:0;
    transition:opacity 0.5s linear;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}
#userdispscissors{
    max-height: 150px;
    max-width: auto;
    border: 30px;
    border-radius: 100px;
    position:absolute;
    opacity:0;
    transition:opacity 0.5s linear;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#userdisppaper{
    max-height: 150px;
    max-width: auto;
    border: 30px;
    border-radius: 100px;
    position: absolute;
    opacity:0;
    transition:opacity 0.5s linear;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}
#compResult{
    max-height: 150px;
    max-width: auto;
    border: 30px;
    border-radius: 100px;
    opacity:0;

}
#compplaceholder{
    max-height: 150px;
    max-width: auto;
    border: 30px;
    border-radius: 100px;
    position:absolute;
    transition:opacity 0.5s linear;
    opacity: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}


#compdisprock{
    max-height: 150px;
    max-width: auto;
    border: 30px;
    border-radius: 100px;
    position: absolute;
    opacity:0;
    transition:opacity 0.5s linear;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

#compdispscissors{
    max-height: 150px;
    max-width: auto;
    border: 30px;
    border-radius: 100px;
    position: absolute;
    opacity:0;
    transition:opacity 0.5s linear;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#compdisppaper{
    max-height: 150px;
    max-width: auto;
    border: 30px;
    border-radius: 100px;
    transition:opacity 0.5s linear;
    opacity:0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;


}


.Results{
    font-family: Arial;
    text-align: center;
}
body{
    background-color: #181a1b;
}



